<div class="footer">
    <p>All rights reserved &copy;</p>
    <nav class="footer-nav">
        <ul>
            <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="add" routerLinkActive="active" ariaCurrentWhenActive="page">Create User</a></li>
            <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
            <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a></li>
        </ul>
    </nav>
</div>